html{
    background-image: url('/source/bg2.png');
}
#top {
    border: 1px solid black; padding: 10px;
    width: 1115px; height: 80px;
    background-image: url('/source/bg1.png');
    position: fixed;
    left:20%;
    z-index: 1;
    border-radius: 40px / 40px;
}
#logo {
    width: 250px; height: 80px;
    float: left;
}
#query {
    width: 500px; height: 50px;
    text-align: center;
    position: relative; top:-10px;
    font-size : large;
    color : blueviolet;
    font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
    border : 3px solid;
}
#queryButton{
    width: 100px; height: 58px;
    position: relative; top:14px; right: 7px;
    background-image: url('/source/query.png');
    background-size: 100px 50px;
    background-position: center center;
    border : 3px solid;
    color : blueviolet;
}
#search{
    float:left;
}
#topI{
    float:left;
    position: relative; left:20px; top:22px;
    color : blueviolet;
}
#center{
    border: 1px solid black; padding: 10px;
    width: 1115px; height: 1000px;
    background-image: url('/source/bg1.png');
    position: relative;
    left:19.7%;
    top: 120px;
    float: left;
    border-radius: 40px / 40px;
}
#center p{
    text-align: center;
    font-size: x-large;
}
