html{
    background-image: url('/source/bg2.png');
}
#logo {
    position: relative;
    left: 700px;
    top: 50px;
    float: left;
}
#center{
    border: 1px solid black; padding: 10px;
    width: 500px; height: 380px;
    background-image: url('/source/bg1.png');
    position: relative;
    left:200px;
    top: 300px;
    border-radius: 40px / 40px;
    float: left;
}
#center p{
    text-align: center;
    font-size: x-large;
}
.in{
    font-size: x-large;
    position: relative;
    left:20%;
    top:10%;
    text-align: center;
    margin-top : 10px;
}
.in::placeholder{
    text-align: center;
}
#signinButton {
    font-size: x-large;
    position: relative;
    top:70px;
    left:37%;
}
